nav {
  text-align: center;;
  ul {
  list-style-type: none;
  padding-left: 0px;
  li {
    display: inline;
    margin-left: 1em;
  }
  }
}
h1 {
  text-align: center;
}
.content1 {
text-align: center;
display: inline;
  .image1 {
    height: 20em;
    width: 20em;
  }
  .image2 {
    height: 20em;
    width: 20em;
  }
  .image3 {
    height: 20em;
    width: 20em;
  }
}
.content2 {
  text-align: center;
  display: inline;
    .image1 {
      height: 18em;
      width: 18em;
      transform: rotate(90deg);
      margin: 0.1em;
    }
    .image2 {
      height: 18em;
      width: 18em;
      transform: rotate(90deg);
      margin: 0.1em;
    }
    .image3 {
      height: 18em;
      width: 18em;
      transform: rotate(90deg);
      margin: 0.1em;
    }
  }

.content3 {
  text-align: center;
}
